rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Accounts/{document=**} {
      // allow read, write;

      // only auth
      allow create: if request.auth != null;
      // logged in user must much the document creator to read, update an delete the document
      allow write, update, delete: if request.null.uid == resourse.data.uid;
    }
  }
}