rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Accounts/{document=**} {
      // allow read, write;

      // only auth
      allow create: if request.auth != null;
      // logged in user must much the document creator to read, update an delete the document
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}