.container{
   width: 50%;
}

.input-container{
   width: 35%!important;
   margin: auto;
}

.btn{
   background-color: var(--secondary-color)!important;
   color: var(--main-color)!important;
   border: none!important;
}